:root {
    --salmon: #EF9D71;
    --black: #000;
    --white: #fff;
    --cyan: #AEDEE0;
    --dcyan: #4f676c;
    --dsalmon: #ebc6c3;
}

body{
    transition: background-color ease-out .5s;
}
.videodiv {
    clip-path: circle(var(--clip) at 50% 50%);
}

*::selection {
    background-color: var(--salmon);
}

/* Themes */
body[theme="black"] {
    background-color: var(--black);
    color: var(--white); 
}

body[theme="black"] .section {
    color: var(--white);
}

body[theme="cyan"] {
    background-color: var(--cyan);
    color: var(--black);
}

body[theme="cyan"] .section {
    color: var(--black);
}

body[theme="salmon"] {
    background-color: var(--salmon);
    color: var(--black);
}

body[theme="salmon"] .section {
    color: var(--black);
}

body[theme="white"] {
    background-color: var(--white);
    color: var(--black);
}

body[theme="white"] .section{
    color: var(--black);
}

body[theme="dcyan"] {
    background-color: var(--dcyan);
    color: var(--white);
}

   /* Swiper Js */
   .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper {
    margin-left: auto;
    margin-right: auto;
  }
